# Configuración de Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=tu_password_aqui
DB_DATABASE=whats_due_tomorrow

# Autenticación JWT
JWT_SECRET=secreto_para_desarrollo_local_jwt

# Puerto del Servidor NestJS
PORT=3000
